
.DS_Store
/.ipynb_checkpoints
/.virtual_documents
*.pyc
*.mp4
/Xin data
/Test data
*.png
/figures
/notebooks/sim_data
/notebooks/archive
/.vscode
/data/opening_angles
/data/membrane-actin
/data/height_map
/data/actin_flow*
